[submodule "fauna-test-frontend"]
	path = fauna-test-frontend
	url = git@github.com:champgm/fauna-test-frontend.git
	branch = master
[submodule "fauna-test-backend"]
	path = fauna-test-backend
	url = git@github.com:champgm/fauna-test-backend.git
	branch = master
